body,html{
    height: 100%;
    margin: 0;  
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
iframe{
    background-color: #FAF7FF;
    width: 500px;
    height: 100%;
}
/* .container-fluid{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */
.describe_container{
    background-color:#bc9b6a;
    width: 53%;
    height: 100%;
    padding: 10px;
}
/* .form_container-name{
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    width: 43%;
    /* height: 40px; */
/* } */
/* .form_container-name .form_container-input{ */
    /* padding-left: 50px; */
   /* width: 300px;
   height: 60px; */
   /* overflow-x: hidden;
   overflow-y: hidden; */
/* } */
/* #form_container-name .form_container-input label{
   position: absolute;
   top: 100px;
} */

#form_container-input input[type=text],#form_container-input input[type=password]{
   padding-left: 30px;
   /* font-size: medium; */ 
   color: #707071;
   /* width: 550px; */
   /* overflow-x: hidden;
   /* margin-top: 10px; */
   height: 50px;
   /* outline: none; */
   border: 3px solid #c6c6c9;
   border-radius: 5px;
   background: none;
}
#form_container-input-error input[type=text],#form_container-input-error input[type=password]{
   padding-left: 30px;
   border: 3px solid #ff0000;
   height: 50px;
   background: none;
}
#form_container-input-error i.fa-circle-exclamation{
    color: #ff0000;
}
#form_container-input i.fa-circle-exclamation{
   visibility: hidden;
}
#form_container-input input:focus{
    border: 3px solid #bc9b6a;
}
#form_container-input input::placeholder{
    color:  #c6c6c9;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;  
}
#form_container-input-error input::placeholder{
    color:  #c6c6c9;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;  
}
i.fa-envelope,i.fa-keyboard{
    color:#c6c6c9;
    /* position: relative;
    /* /* bottom: 37px; */
    right: 565px;   
}
 i.fa-user{
    color:#c6c6c9;
}
#form_container-input label,.title_form-container,label{
    color:#bc9b6a;
    font-size: larger;
    font-family: 'Lobster', sans-serif; 
    /* font-weight: 600; */
}
.form_container{
    /* padding-top: 0;
    overflow-x: hidden; */
    background-color: #FAF7FF;
    /* width: 47%;
    height: 100%; */
    /* overflow-x: hidden; */
}
#form_container-input-error small{
    padding-left: 20px   ;
    color: #ff0000;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* visibility: hidden; */
}
#form_container-input small{
    visibility: hidden;
}
.form-btn button{
    font-family: 'Lobster', sans-serif;  
    display: inline-block;
    padding: 15px;
    width: 100px;
    background: none;
    border: 3px solid  #bc9b6a;
    border-radius: 5px;
    font-size: large;
    /* font-weight: bolder; */
    color:  #bc9b6a;
    cursor: pointer;
}
.form-btn button:hover{
    background-color: #bc9b6a;
    color:  #FAF7FF;
    border: none;
}
.describe_container p{
    text-align: justify;
    /* padding: 0px; */
    color: #FAF7FF;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{
    margin-left: 230px;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.social_con i{
    cursor: pointer;
    color: #FAF7FF;
    margin: 10px;
    font-size: x-large;
}
.social_con i:hover{
    color: #000000;
}
.describe_container hr{
    width: 95%;
    background-color: #FAF7FF;
    border: 1px solid #FAF7FF;
}
.footer2 hr{
    width: 100%;
    background-color: #FAF7FF;
    border: 1px solid #FAF7FF;
}
.footer2 p{
    color: #000000;
    padding: 0px;
    text-align: center;
}
.footer p{
    margin: 2px;
    text-align: center;
}
.footer{
    text-align: center;
}
.footer a{
    font-family: GillSans,Arial,Helvetica,sans-serif;
    color: #FAF7FF;
    text-decoration: none;
}
.footer a:hover{
    color: #000000;
}
.title{
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    color: #FAF7FF;
    font-family: 'Lobster', sans-serif;
    font-size: large;
    font-weight: 100; 
}
.title_form-container{
    cursor: pointer;
    /* text-align: center; */
    /* margin-top: 30px; */
    color: #bc9b6a;
    font-family: 'Lobster', sans-serif;
    font-size: larger;
    font-weight: 100;
}
.dscrb_content-title h2{
    margin: 20px  200px 0px 200px;
    text-align: center;
    color: #FAF7FF;
    font-family:'Raleway', sans-serif;
    font-weight: 1600;
}
.dscrb_content{
    /* width: 700px; */
    height: 300px;
    /* padding: 5px; */
    overflow: hidden;
    /* background-image: url("img/pexels.jpg"); */
}
.dscrp-btn .icon{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background: none;
    border: 2px solid white;
    color:#FAF7FF;
    opacity: 0.2;
}
.dscrp-btn .icon:hover{
    opacity: 0.8;
}
.fa-solid.fa-eye{
    position: relative;
    /* bottom: 0px;
    right: 80px; */
    color: #c6c6c9;
    cursor: pointer;
}
.fa-solid.fa-eye-slash{
    color: #c6c6c9;
    cursor: pointer;
}
.login_container{
    overflow-x: hidden;
    background-color: #FAF7FF;
    width: 47%;
}
.signin_form-btn button{
    font-family: 'Lobster', sans-serif;  
    padding: 15px;
    width: 100px;
    background: none;
    border: 3px solid  #bc9b6a;
    border-radius: 5px;
    font-size: large;
    /* font-weight: bolder; */
    color:  #bc9b6a;
    cursor: pointer;
}
.signin_form-btn button:hover{
    background-color: #bc9b6a;
    color:  #FAF7FF;
}